.cover__link {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
    background-image: url('../../../images/cover-trains.jpg');
    background-size: contain;
    background-position: center;
    object-fit: cover;
    z-index: 1;
    text-decoration: none;
    cursor: pointer;
}

.cover__link::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity 350ms ease;
}

.cover__link:hover::before {
    opacity: 0.8;
}