.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 48px 56px;
    padding: 0;
    height: 52px;
    
}

@media screen and (max-width: 1024px) {
    .header {
        margin-bottom: 48px;

    }
}