.footer__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.12;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 19px;
    cursor: pointer;
    opacity: 1;
}

.footer__link:first-of-type {
    margin-left: 0;
}

.footer__link:hover {
    opacity: 0.8;
    transition: opacity 300ms ease;
}