.lead__subtitle {
    text-align: center;
    margin: 0 auto 64px;
    font-size: 30px;
    line-height: 1.2;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    max-width: 640px;
}