.place__link {
    color: #fff;
    text-decoration: underline;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    cursor: pointer;
    opacity: 1;
}

.place__link:hover {
  opacity: 0.8;
  transition: opacity 300ms ease;
}