.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 48px;
    
}

@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column;
        margin: 0 auto 0 16px;
        min-height: 310px;
    }
}